<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon.png" />
	<link rel="icon" type="image/png" href="../assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Material Dashboard by Creative Tim</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrapper">
		<div class="sidebar" data-color="purple" data-image="/assets/sidebar-1.jpg">
			<!--
		Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		Tip 2: you can also add an image using data-image tag
	-->
			<div class="logo">
				<a href="http://www.creative-tim.com" class="simple-text">
					Creative Tim
				</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li>
						<a href="dashboard.html">
							<i class="material-icons">dashboard</i>
							<p>Dashboard</p>
						</a>
					</li>
					<li class="active">
						<a href="./user.html">
							<i class="material-icons">person</i>
							<p>User Profile</p>
						</a>
					</li>
					<li>
						<a href="./table.html">
							<i class="material-icons">content_paste</i>
							<p>Table List</p>
						</a>
					</li>
					<li>
						<a href="./typography.html">
							<i class="material-icons">library_books</i>
							<p>Typography</p>
						</a>
					</li>
					<li>
						<a href="./icons.html">
							<i class="material-icons">bubble_chart</i>
							<p>Icons</p>
						</a>
					</li>
					<li>
						<a href="./maps.html">
							<i class="material-icons">location_on</i>
							<p>Maps</p>
						</a>
					</li>
					<li>
						<a href="./notifications.html">
							<i class="material-icons text-gray">notifications</i>
							<p>Notifications</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="panel panel-info">
				<div class="container-fluid">
					<div class="navbar-header">
						<div class="navbar-brand"> Profile </div>
					</div>
				</div>
				<div class="panel-body">
				  <div class="row">
						<div class=".col-xs-6 .col-sm-4">
						  <div class="panel-group">
								<div class="panel panel-default">
								  <div class="panel-heading">General Information</div>
								  <div class="panel-body">
										<table class="table table-hover">
										  <tbody>
												<tr>
												  <td class="col-md-3">
													<strong>
													  <i class="fa fa-user-o"></i> Name
													</strong>
												  </td>
												  <td>Vu Thanh Tung</td>
												</tr>
												<tr>
													  <td class="col-md-3">
														<strong>
														  <i class="fa fa-envelope-o"></i> Email
														</strong>
													  </td>
													  <td>vu.thanh.tung@framgia.com</td>
												</tr>
											  <tr>
													<td class="col-md-3">
													  <strong>
														<i class="fa fa-font-awesome"></i> Nationality
													  </strong>
													</td>
													<td>
													</td>
											  </tr>
											  <tr>
													<td class="col-md-3">
													  <strong>
														<i class="fa fa-transgender"></i> Gender
													  </strong>
													</td>
													<td>Male</td>
												  </tr>
											  <tr>
													<td class="col-md-3">
													  <strong>
														<i class="fa fa-birthday-cake"></i> Birthday
													  </strong>
													</td>
													<td>
													  10/03/1995
													</td>
											  </tr>
										  </tbody>
										</table>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
