.edit-thesis {
  width: 86px;
}
.pending {
  background-color: #f0ad4e;
}
.approved {
  background-color: #5cb85c;
}
.rejected {
  background-color: #d9534f;
}
.Progressing {
  color: #f0ad4e;
}
.Done {
  color: #5cb85c;
}
