.edit-thesis {
  width: 86px;
}
.pending {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.approved {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.rejected {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.Progressing {
  color: #f0ad4e;
}
.Done {
  color: #5cb85c;
}
